.statistics {
  height: 250px;
  background-color: #E7ECF2;
}

.statistics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 350px;

}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 348px;
  height: 82px;
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.stat-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 87px;
  height: 80px;
  color: white;
  font-weight: bold;
}

.item-blue {
background-color: #4FC5F3;
}

.item-purple {
background-color: #A63BF2;
}

.item-red {
background-color: #E54D64;
}

.item-green {
  background-color: #52CBD4;
}

.item-default {
  background-color: white;
}
